## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [184]:
x = 10
print('El valor de X es:')
print(x)

El valor de X es:
10

2) Imprimir el tipo de dato de la constante 8.5

In [185]:
print('El tipo de dato de 8.5 es:')
type(8.5)

El tipo de dato de 8.5 es:

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [186]:

print('El tipo de dato de X es:')
type(x)

El tipo de dato de X es:

int

4) Crear una variable que contenga tu nombre

In [187]:
nombre = "jose"
print('Mi nombre es:')
print(nombre)

Mi nombre es:
jose

5) Crear una variable que contenga un número complejo

In [188]:
# Creacion de variable con numero complejo

Ncomplejo = 3 + 2j
print('El valor de la variable creada es:')
print(Ncomplejo)

El valor de la variable creada es:
(3+2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [189]:
print('El tipo de dato de la variable creada es:')
type (Ncomplejo)

El tipo de dato de la variable creada es:

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [190]:
Pi = 3.1416
print('El valor de Pi es:')
print(Pi)

El valor de Pi es:
3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [191]:
var1 = 'True'
var2 = True

# Presentacion de caracteristicas de var 1
print('La caracteristica de la Variable 1 es de la clase y valor:')
print(type(var1))
print(var1)

# Presentacion de caracteristicas de var 2
print('La caracteristica de la Variable 2 es de la clase y valor:')
print(type(var2))
print(var2)

# Presentacion de resultados

print(' ')
print('Las 2 variables se diferencian por el tipo de dato')

La caracteristica de la Variable 1 es de la clase y valor:
<class 'str'>
True
La caracteristica de la Variable 2 es de la clase y valor:
<class 'bool'>
True

Las 2 variables se diferencian por el tipo de dato

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [192]:
print('Variable 1 es del tipo:')
print(type(var1))
print(' ')
print('Variable 2 es del tipo:')
print(type(var2))

Variable 1 es del tipo:
<class 'str'>

Variable 2 es del tipo:
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [193]:
a = 4 + 2.5
print('El avalor de a es:')
print(a)

El avalor de a es:
6.5

11) Realizar una operación de suma de números complejos

In [194]:
a = 2 + 2j
b = 5 + 1j

print('El valor de la suma de numeros complejos es:')
print(a+b)

El valor de la suma de numeros complejos es:
(7+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [195]:
a = 7
b = 3 + 2j


print(a)
print(b)
print('El valor de la suma de numeros complejos y real es:')
print(a+b)

7
(3+2j)
El valor de la suma de numeros complejos y real es:
(10+2j)

13) Realizar una operación de multiplicación

In [196]:
print(3*4)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [197]:
x = 2
x **= 8
print(x)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [198]:
a=27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [199]:
print('El valor entero de la division es:')
print(27//4)

El valor entero de la division es:
6

17) De la división de 27 entre 4 mostrar solamente el resto

In [200]:
print('El valor residual de la division es:')
print(27%4)

El valor residual de la division es:
3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [201]:
print(6*4+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [202]:
Vara = 'Hola '
Varb = 'Mundo'
print(Vara + Varb)

Hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [203]:
print('2' == 2)
print("El resultado es falso porque son tipos de datos diferentes")

False
El resultado es falso porque son tipos de datos diferentes

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [204]:
'2' == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [205]:
print('La expresion a = float(3,8) da error porque los decimales se separan con punto, no con coma')
print('La forma correcta de expresarlo es a = float(3.8) cuyo resultado es: ')
a = float('3.8')
print(a)

La expresion a = float(3,8) da error porque los decimales se separan con punto, no con coma
La forma correcta de expresarlo es a = float(3.8) cuyo resultado es:
3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [206]:
x = 3
x -= 1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [207]:

print('Este resultado se produce por el desplazamiento binario de 2 posiciones') 
print('convirtiendo 001 en 100, cuyo valor decimal es: ')
print(1 << 2)

Este resultado se produce por el desplazamiento binario de 2 posiciones
convirtiendo 001 en 100, cuyo valor decimal es:
4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [208]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

EXPLICACION:
Los 2 operandos son de diferente tipo.
Si son del mismo tipo arrojarian, el resultado seria diferente

In [ ]:
print('Mismo tipo: Entero')
int(2) + int('2')

Mismo tipo: Entero

4

In [ ]:
print('Mismo tipo: Flotante')
float(2) + float('2')

Mismo tipo: Flotante

4.0

In [ ]:
print('Mismo tipo: String')
str(2) + str('2')

Mismo tipo: String

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
varx = 'conteo se repite, '
vary = 5
print (varx * vary + str(vary) +  ' veces' )

conteo se repite, conteo se repite, conteo se repite, conteo se repite, conteo se repite, 5 veces