In [269]:
x=0
y=3.5
z='test'

In [270]:
print((x) + (y)) 
print('Test')

3.5
Test

In [271]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [272]:
print(bool(x))
print(bool(y))
print(bool(z))

False
True
True

In [273]:
# practicas operaciones aritmeticas

In [274]:
numero1=7
numero2=2

In [275]:
3+2

5

In [276]:
numero1+numero2

9

In [277]:
numero1**numero2

49

In [278]:
print(numero1/numero2)
print(numero1//numero2)
print(numero1%numero2)

3.5
3
1

In [279]:
print(numero1%2)
print(numero2%2)

1
0

In [280]:
# Practicas operaciones de asignacion

In [281]:
x=5

In [282]:
x+=2
print(x)

7

In [283]:
x-=2
print(x)

5

In [284]:
x*=3
print(x)

15

In [285]:
x/=3
print(x)

5.0

In [286]:
x%=2
print(x)

1.0

In [287]:
# Operaciones con string

In [288]:
'hola' + ' ' +'mundo"'

'hola mundo"'

In [289]:
'hola ' * 3 + " a todos"

'hola hola hola  a todos'

In [290]:
# operaciones relacionales

a=6
b=3
print(a==b)   # False
print(a != b) # True
print(a > b)  # True
print(a < b)  # False
print(a >= b) # True
print(a <= b) # False

False
True
True
False
True
False

In [291]:
# Operaciones logicas
a = bool(1) # True
b = bool(0) # False
# Resultados de operaciones

print(a and b) # False
print(a or b) # True
print(not a) # False
print(a ^ b) # True

False
True
False
True

In [292]:
# Cambio de tipo de datos

num='5'
print(type(num))
print(num)

<class 'str'>
5

In [293]:
# Cambio solo del valor

print(type(num))
int(num)
print(num)
print(type(num))

<class 'str'>
5
<class 'str'>

In [294]:
# Cambio de tipo asignado a nueva variable

print(type(num))
num2 = int(num)
print(' variable num2 es >' )
print(type(num2))

# Cambio de variable
print('Cambio de variable Num: Antes')
print(type(num))
num = int(num)
print(' variable num ahora es >' )
print(num)
print(type(num))

<class 'str'>
 variable num2 es >
<class 'int'>
Cambio de variable Num: Antes
<class 'str'>
 variable num ahora es >
5
<class 'int'>

In [300]:
# Cambio de tipo de dato de String a Float en la misma variable
num = '5.6'
print(num)
print(type(num))
num = float(num)
print('Cambio de tipo de dato:')
print(type(num))
print(num)

5.6
<class 'str'>
Cambio de tipo de dato:
<class 'float'>
5.6

In [296]:
# Cambio de tipo de dato de Entero a Float guardado en nueva variable
num2 = '8'
num3 = float(num2)
print('Tipo de dato Num2')
print(type(num2))
print(num2)

print('Tipo de dato Num3')
print(type(num3))
print(num3)

Tipo de dato Num2
<class 'str'>
8
Tipo de dato Num3
<class 'float'>
8.0

In [302]:
# Cambio de tipo de dato de Entero a string
w= 4.5
print('Tipo de dato w es:')
print(type(w))
w= str(w)
print('Tipo de dato w ahora es:')
print(type(w))
print(w)

Tipo de dato w es:
<class 'float'>
Tipo de dato w ahora es:
<class 'str'>
4.5